*                 text=auto
*.sh              eol=lf
*.conf            eol=lf
go.sum            linguist-generated=true
mocks_test.go     linguist-generated=true
*.pb.go           linguist-generated=true
*.pb.validate.go  linguist-generated=true